R2_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_access_key
R2_SECRET_ACCESS_KEY=your_secret_key
R2_BUCKET_NAME=your_bucket_name
R2_PUBLIC_URL=https://pub-your_public_url.r2.dev
GOOGLE_DRIVE_FINAL_DIR=C:/Users/your_user/Google Drive/Photobooth
GDRIVE_FOLDER_URL=https://drive.google.com/drive/folders/your_folder_id
